*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: violet;
  background-color: black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: violet;
}

h2 {
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
  color: yellow;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
p {
  font-size: 2rem;
  color: rgb(185, 238, 237);
}

article {
  padding-bottom: 2rem;
}

.header,
.nav,
.logo-wrapper {
  display: flex;
  background-color: black;
  color: violet;
  gap: 2rem;
  align-items: center;
}

.header {
  justify-content: space-between;
  padding: 4rem 4rem 2rem 4rem;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 3rem;
}

.img-wrapper-one {
  margin: 0 auto;
  height: 50vh;
  overflow: hidden;
  display: flex;
}

.img-wrapper-two {
  height: 10rem;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.initial-img-two {
  height: 10rem;
  max-height: 20rem;
  margin: 0 auto;
}

.initial-img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.logo {
  width: 5rem;
  height: 5rem;
  background-color: black;
}

.wrapper {
  padding: 4rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper .sub-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.sub-wrapper article {
  padding: 0 2rem;
}

.sub-wrapper article h3 {
  font-size: 2rem;
  text-align: center;
}

.sub-wrapper article p {
  font-size: 1.5rem;
  color: rgb(185, 238, 237);
}

.spruch {
  display: block;
  text-align: center;
  padding: 4rem 0 0 0;
  font-size: 3rem;
  font-style: italic;
  color: brown;
}

.link {
  color: red;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

.notice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notice span {
  font-size: 3rem;
  padding-right: 2rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* about */

.bio-wrapper {
  padding: 2rem 4rem;
}

.bio-wrapper article {
  display: flex;
  flex-direction: column;
}

.bio-wrapper article h3 {
  text-align: center;
}

.bio-wrapper article p {
  padding: 1rem;
}

.bio-wrapper article span {
  background-color: white;
  color: red;
  padding: 1rem 2rem;
  border-radius: 65% 35% 45% 55% / 59% 57% 43% 41%;
  max-width: 10rem;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
}

/* work*/

.work-wrapper {
  padding: 2rem 8rem;
}

/* gallery */

.gallery {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gallery figure {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gallery figure a {
  position: absolute;
  color: blue;
  cursor: pointer;
  background-color: yellow;
  padding: 1rem 2rem;
  border-radius: 8px;
  z-index: 99;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  border: 4px solid red;
}

.info {
  text-align: center;
  padding: 4rem;
  margin-top: 4rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px) rotate(-3deg);
  }
  50% {
    transform: translateX(3px) rotate(3deg);
  }
  75% {
    transform: translateX(-3px) rotate(-3deg);
  }
  100% {
    transform: translateX(0);
  }
}

.animation {
  display: inline-block;
  animation: shake 0.5s ease-in-out infinite;
}
